@model IEnumerable<ET.Sys_DEF.BlogArticleInfo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
    @Styles.Render("~/content/basestyle")
    @Scripts.Render("~/scripts/jquery")
    <script src="/Scripts/common/jquery.topbar.js"></script>
    <link href="@Url.Content("~/content/blog/blog.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/blog/toolbar.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/blog/iconfont.css")" rel="stylesheet" />
    <script src="@Url.Content("~/scripts/blog/effects.js")" type="text/javascript"></script>
    <link href="/Res/autocomplete/autocomplete.css" rel="stylesheet" />
    <script src="/Res/autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="/Scripts/common/common.js"></script>
    <script src="/Scripts/common/timeago.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"  type="text/javascript"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"  type="text/javascript"></script>
    <![endif]-->

</head>
<body>
    <div>
        <div data-scroll-reveal="" class="row card-panel" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
            <span class="rule-wrap"><a id="tieba" name="tieba" class="rule"></a></span><div class="col span_4_4">
                <div class="ibx-even">
                    <div class="ibx-inner" id="ibx-mod-tieba">
                        <div class="ibx-inner-title">
                            <a target="_blank" href="javascript:;" class="ibx-inner-title-ctx">收藏中心</a>
                            <ul class="ibx-inner-title-tab">
                                <li class="ibx-inner-title-tabitem ibx-my-tieba OP_LOG_TITLE current">文章收藏</li>
                                @*<li class="ibx-inner-title-tabitem ibx-my-frs OP_LOG_TITLE">图片收藏</li>
                                    <li class="ibx-inner-title-tabitem ibx-tieba-top OP_LOG_TITLE">我喜欢的</li>*@
                            </ul>
                        </div>
                        <div class="ibx-inner-content" id="ibx-tieba">
                            <div class="col my-tieba">
                                <div class="ibx-tieba-left">
                                    @*<div class="ibx-inner-card-title">
                                            <span class="ibx-inner-card-title-ctx">&nbsp;</span><span class="ibx-inner-card-title-border"></span>
                                            <div class="ibx-card-pager"><span class="ibx-card-pager-prev"></span><span class="ibx-card-pager-item current" data-page="0"></span><span class="ibx-card-pager-next"></span></div>
                                        </div>*@
                                    <div class="ibx-tieba-center">
                                        <ul class="my-tieba-clist tieba-pager-ul">
                                            @foreach (ET.Sys_DEF.BlogArticleInfo itemArticle in Model)
                                            {
                                                <li class="my-tieba-citem">
                                                    <a target="_blank" href="@itemArticle.ArticleUrl" class="my-tieba-citem-box">
                                                        <img class="my-tieba-bimg" src="@itemArticle.ArticleCover.Split(',')[0]" width="100" height="50"><div class="my-tieba-detail"><h2 class="my-tieba-bname" title="@itemArticle.ArticleTitle">@itemArticle.ArticleTitle</h2><span class="fa fa-star" title="@itemArticle.ArticleSource 共同收藏"></span>@itemArticle.ArticleSource</div>
                                                    </a>
                                                </li>
                                            }
                                        </ul>

                                    </div>@Html.Raw(ViewBag.listPager)
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
