
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="keywords" content="CSS酷站收录站 uehtml 网页设计 DIV+CSS Javascript 酷站 酷站收录 网站设计 网页设计 CSS3" />
    <meta name="description" content="优艺客 设计师网站">
    <meta name="author" content="弈泰网络" />
    <link rel="stylesheet" type="text/css" href="/content/blogmobile/style.css" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="apple-touch-icon-precomposed" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico">
    <script>
        var logined = 0
    </script>
    <title>@RenderSection("Title", required: false)</title>
    @Scripts.Render("~/scripts/modernizr")
    @Scripts.Render("~/scripts/jquery")
    @RenderSection("Header", required: false)
</head>

<body>
    <script>
        var now_page = 1,
        search_value = '';
    </script>
    <div id="menu">
        <div class="search_wrap">
            <form action="/blogmobile/ajaxsearchlist" method="get">
                <input type="text" name="search" class="search_input" placeholder="关键字查找" />
                <i class="reset_input"><i></i></i>
            </form>
        </div>
        <ul>
            <li class="nav_index menu_cur"><a href="index"><i></i><span>首页</span><b></b><div class="clear"></div></a></li>
            <li class="nav_site"><a href="index"><i></i><span>资讯中心</span><b></b><div class="clear"></div></a></li>
            <li class="nav_help"><a href="designindex"><i></i><span>创意设计</span><b></b><div class="clear"></div></a></li>
            <li class="nav_about"><a href="http://et.etmanage.com"><i></i><span>弈泰工作室</span><b></b><div class="clear"></div></a></li>
        </ul>
    </div>
    <div id="user">
        <div class="account">
            <div class="login_b_t">
                <div class="pd10">
                    <div class="fl">还没有账号<a @*id="reg_now"*@ href="/login" @*onclick="return false;"*@>立即注册</a></div>@*<div class="fr"><a href="#">忘记密码?</a></div><div class="clear"></div>*@
                </div>
            </div>
        </div>
        <div class="pd10">
            <form method="post" action="/account/ajaxlogin">
                <div class="login_b_i">
                    <div class="login_input">
                        <div class="login_user"><input type="text" name="username" placeholder="帐号" /><i></i></div>
                        <div class="login_password"><input type="password" name="password" placeholder="密码" /><i></i></div>
                    </div>
                </div>
                <a class="login_submit">登录</a>
            </form>
            <div class="login_quick">
                <p>用第三方帐号直接登录</p>
                <span id="ibtnQQLogin"></span>
                @*<a href="/blogmobile/oauthLogin?type=qq" id="qq_connect"><span><i></i>QQ登录</span></a>*@
            </div>
        </div>
    </div>
  

    @RenderBody()
    @RenderSection("BodyExtend", required: false)


    <!--页脚开始-->
    <div id="footer">
        <!-- 微信分享导引 开始-->
        <script>
        function openGuide() { document.getElementById('guide').style.display = 'block'; }

            function closeGuide() { document.getElementById('guide').style.display = ''; }

        </script>
        <div id="guide" onclick="closeGuide()">
            <img src="/content/blogmobile/ky_img/guide.png" />
        </div>
        <!-- 微信分享导引 结束-->
        <!--快捷按钮 开始-->
        <div class="plug-div">
            <div class="plug-phone">
                <div class="plug-menu themeStyle">
                    <span class="close"></span>
                </div>
                <div class="themeStyle plug-btn plug-btn1 close">
                    <a href="index"><span style="background-image: url(/content/blogmobile/ky_img/home.png);"></span></a>
                </div>
                <div class="themeStyle plug-btn plug-btn2 close">
                    <a href="http://et.etmanage.com"><span style="background-image: url(/content/blogmobile/ky_img/tel.png);"></span></a>
                </div>
                <div class="themeStyle plug-btn plug-btn3 close">
                    <a href="javascript:;" ><span style="background-image: url(/content/blogmobile/ky_img/aboutus.png);" class="search_open"></span></a>
                </div>
                <div class="themeStyle plug-btn plug-btn4 close">
                    <a href="http://et.etmanage.com"><span style="background-image: url(/content/blogmobile/ky_img/guestbook.png);"></span></a>
                </div>
                <div class="plug-btn plug-btn5 close"></div>
            </div>
        </div>
        <!--快捷按钮 结束-->
        <div class="copyright">
            这里是底部信息<br />免责声明：所有资源仅供学习与参考，版权归原作者，请勿用于商业用途，否则产生的一切后果将由您自行承担。
        </div>
    </div>
    <!--页脚结束-->
    @*<div id="reg_index">
        <div class="reg_bar">
            <div class="wrap">
                <span class="fl"><i></i>注册帐号</span>
                <i class="reg_bar_close fr"></i>
                <div class="clear"></div>
            </div>
        </div>
        <div class="wrap reg_ct">
            <p>您可以选择以下第三方帐号直接登录<br />一分钟完成注册</p>
            <a href="/blogmobile/oauthLogin?type=qq" id="qq_connect"><span><i></i>QQ&nbsp;&nbsp;帐号登录</span></a>
     
        </div>
    </div>*@
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101213317" charset="utf-8" data-redirecturi="http://etmanage.com/Account/qqlogincallback"></script>
    <script language="javascript" src="/scripts/blogmobile/zepto.min.js"></script>
    <script language="javascript" src="/scripts/blogmobile/fx.js"></script>
    <script language="javascript" src="/scripts/blogmobile/script.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.resizable.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.draggable.js"></script>

    <script src="/scripts/lib/timeago.js"></script>
    <script>
        $(document).ready(function () {
            jQuery("span.timeago").timeago();
        });
    </script>
</body>
</html>