<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>@RenderSection("Title", required: false)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="qc:admins" content="6710324165161756375" />
    @Styles.Render("~/content/basestyle")
    @Scripts.Render("~/scripts/jquery")
    <script src="/Scripts/common/jquery.topbar.js"></script>
    <link href="@Url.Content("~/content/blog/blog.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/blog/toolbar.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/blog/iconfont.css")" rel="stylesheet" />
    <script src="@Url.Content("~/scripts/blog/header.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/blog/effects.js")" type="text/javascript"></script>
    <link href="/Res/autocomplete/autocomplete.css" rel="stylesheet" />
    <script src="/Res/autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="/Scripts/common/common.js"></script>
    <script src="/Scripts/common/timeago.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"  type="text/javascript"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"  type="text/javascript"></script>
    <![endif]-->
    @RenderSection("Header", required: false)
</head>
<body>
    <p id="back-to-top" class="block"><a href="#top"><span></span></a></p>
    <div class="head headscroll">
        <div class="head-con">
            <p><a href="@PublicHelper.GetHostAddress()/" class="logo"></a></p>
            <div class="nav-mo clearfix">

                <div class="nav-home">
                    <a href="@PublicHelper.GetHostAddress()/" class="n-c">首页</a>
                </div>

                @foreach (ET.Sys_DEF.KeyAndValue itemType in ViewBag.listBlogType)
                {
                    if (itemType.children.Count > 0)
                    {
                        <div class="nav-lis">
                            <a href="@PublicHelper.GetHostAddress()@itemType.reserve1" class="n-c">@itemType.text</a>
                            <ul>
                                @foreach (ET.Sys_DEF.KeyAndValue itemTypeChild in @itemType.children)
                                {
                                    <li><a href="@PublicHelper.GetHostAddress()/blog/articlelist/@itemTypeChild.id/">@itemTypeChild.text</a></li>

                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="nav-home">
                            <a rel="nofollow" class="n-c" href="@PublicHelper.GetHostAddress()@itemType.reserve1/">@itemType.text</a>
                            @if (!string.IsNullOrEmpty(itemType.reserve2))
                            {
                                <i style="display: inline;" class="@itemType.reserve2-ico"></i>}
                        </div>
                    }

                }

            </div>
            <div class="search" id="header_search">

                <label>
                    <em>搜索信息</em>
                    <input name="srchtxt" type="text" id="txtSearch" class="seatext" autocomplete="off" maxlength="100" value="" speech="" x-webkit-speech>
                </label>
                <input type="button" value="" class="seabutton" id="btnSearch">
                <div class="about-ser">

                </div>
            </div>
            @Html.Raw(ViewBag.htmlLoginOk)
            <div class="user-ed" id="nologin">
                <a href="@PublicHelper.GetHostAddress()/blog/login?t=0&l=@Request.Url.ToString()" rel="nofollow">免费注册</a><span class="ml10 mr10">|</span><a href="@PublicHelper.GetHostAddress()/blog/login?l=@Request.Url.ToString()" rel="nofollow">登录</a><br>
                <span id="ibtnQQLogin"></span>
                @*<a id="ibtnSINALogin" href="javascript:;" rel="nofollow">新浪登录</a>*@
            </div>
        </div>

    </div>
    <div class=" clear"></div>
    <div class="et-main clear">
        <div class="main-container">
            <div class="speedbar">
                <div class="toptip">
                    <strong><i class="fa fa-volume-up"></i> </strong>
                    @foreach (ET.Sys_DEF.NewInfo itemNew in ViewBag.listNewestNew)
                    {
                        @itemNew.NewTitle
                    }
                </div>
            </div>

            @RenderBody()
        </div>
    </div>
    @RenderSection("BodyExtend", required: false)
    <style>
    
    </style>
    <div id="footerwrapper">
        <div class="bottombar">
            <div class="bottombar-inner clearfix">
                <div class="bot-left">
                    <h4>热门资讯频道推荐</h4>
                    <div class="bot-left-list">
                        <ul>
                            @foreach (ET.Sys_DEF.KeyAndValue itemType in ViewBag.listBlogType)
                            {
                                foreach (ET.Sys_DEF.KeyAndValue itemTypeChild in itemType.children)
                                {
                                    <li><a href="@PublicHelper.GetHostAddress()/blog/articlelist/@itemTypeChild.id/" target="_blank">@itemTypeChild.text</a></li>
                                }
                            }


                            <div style="clear:both"></div>
                        </ul>
                    </div>
                </div>
                <div class="bot-center">
                    <h4>易特业务扩展</h4>
                    <div class="bot-center-list">
                        <p>为满足用户的不同需求，易特提供个性化定制开发，无论您是企业还是个人，<p>想要平台？ </p><p>想要网站？ </p>都没问题！赶快把您的需求投给我们吧！ <a href="/Home/AddRequire" target="_blank">投递需求</a> </p>

                    </div>
                </div>
                <div class="bot-right">
                    <h4>易特资讯独家出品</h4>
                    <p class="p1">资讯由易特工作室或网名发布选取定时更新,凡注明“来源：XXX或摘自XXX（非本站）”的文章均转载自其它媒体，转载目的在于传递更多信息，并不代表本网赞同其观点和对其真实性负责。</p>
                    <p class="p2">本站所有信息均来自互联网，如有侵犯您的权益，请联系我们！我们会在第一时间删除</p>
                </div>
            </div>
        </div>
        <div class="clearfloat"></div>
        <div class="blog-footer">
            <a href="/blog/complaint">投诉中心</a><span>版权所有<a href="@PublicHelper.GetHostAddress()">易特网工作室</a>.鄂ICP备15002827号</span>
        </div>
    </div>

    <div class="toolbar" style="display:none;">
        <ul class="icon_lists ">
            <div class="tool-lis">
                <i class="icon iconfont"><a href="@PublicHelper.GetHostAddress()/blog/usercenter/"><img src="@PublicHelper.GetHostAddress()/images/blog/noavatar_small.gif" onerror="this.onerror = null; this.src = '@PublicHelper.GetHostAddress()/images/blog/noavatar_small.gif'"></a></i>
                <div class="name"><a href="@PublicHelper.GetHostAddress()/blog/usercenter">未激活用户</a></div>
                <ul>
                    <li class="um-reply"><strong class="vwmy qq" style="margin-left:0px;background-position:0px 3px;"><a href="@PublicHelper.GetHostAddress()/usercenter/" class="user-name">liuweisime</a></strong> <a href="@PublicHelper.GetHostAddress()/blog/logout" class="y">退出</a></li>
                    <li>
                        <a href="@PublicHelper.GetHostAddress()/blog/usersetting">设置中心</a>
                        <a href="/plugin.php?id=vip:vip" class="y" style="color:#f60">开通VIP</a>
                    </li>
                </ul>
            </div>

            @*<div class="tool-lis">
                    <a href="/forum.php?mod=guide&amp;view=my">
                        <i class="icon iconfont"></i>
                        <div class="name">贴子</div>
                    </a>
                </div>*@

            <div class="tool-lis">
                <a href="@PublicHelper.GetHostAddress()/blog/usercenter?mod=collect">
                    <i class="icon iconfont"></i>
                    <div class="name">收藏</div>
                </a>
            </div>

            @*<div class="tool-lis">
                    <a href="/home.php?mod=space&amp;do=notice">
                        <i class="icon iconfont"></i>
                        <div class="name">提醒</div>
                    </a>
                    <ul>
                        <li class="um-reply"><a href="/home.php?mod=space&amp;do=notice" id="myprompt">查看提醒<span class="y" style="color:#f60">+1</span></a></li>
                        <li class="um-reply"><a href="/home.php?mod=space&amp;do=pm" id="myprompt">查看消息</a></li>
                    </ul>
                    <i class="num" style="display: inline;">1</i>
                </div>

                <div class="tool-lis">
                    <a href="javascript:void(0);">
                        <i class="icon iconfont"></i>
                        <div class="name">金币</div>
                    </a>
                    <ul>
                        <li>金币：<em style="color:#f60">1</em>&nbsp;<em class="y"><a href="/plugin.php?id=vip:vip">赞助</a></em></li>
                        <li>易币：<em style="color:#f60">0</em>&nbsp;<a href="/home.php?mod=spacecp&amp;ac=plugin&amp;op=credit&amp;id=evinm_apply:apply" class="y">提现</a><a href="/home.php?mod=spacecp&amp;ac=credit&amp;op=buy" style="margin-right:7px;" class="y">充值</a></li>
                    </ul>
                </div>

                <div class="tool-lis">
                    <a href="/special/post/">
                        <i class="icon iconfont"></i>
                        <div class="name">上传</div>
                    </a>
                </div>

                <div class="tool-lis">
                    <a href="javascript:void(0);">
                        <i class="icon iconfont"></i>
                        <div class="name">任务</div>
                    </a>
                    <ul style="width:190px;">
                        <li><a href="/plugin.php?id=offer:offer">免费赚金币升VIP</a> </li>
                        <li><a href="/plugin.php?id=dsu_paulsign:sign">每日签到领金币</a></li>
                    </ul>

                </div>

                <div class="tool-lis">
                    <a href="/help/">
                        <i class="icon iconfont"></i>
                        <div class="name">帮助</div>
                    </a>
                    <ul>
                        <li><a target="_blank" href="/article-8-1.html">关于金币</a><a target="_blank" href="/article-11-1.html" class="y">关于VIP特权</a></li>
                        <li><a target="_blank" href="/article-10-1.html">关于会员</a> <a target="_blank" href="/forum.php?mod=post&amp;action=newthread&amp;fid=96" class="y">充值问题反馈</a></li>
                    </ul>
                </div>

                <div class="tool-lis">
                    <a onclick="window.scrollTo('0','0')" href="javascript:void(0);">
                        <i class="icon iconfont"></i>
                        <div class="name">回顶部</div>
                    </a>
                </div>
            *@
        </ul>
    </div>


    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101213317" charset="utf-8" data-redirecturi="http://etmanage.com/blog/qqlogincallback"></script>
    <script type="text/javascript">
        function QQLoginTrue() {
            var IsLogin = false;
            var openid; //登录成功获取openid,
            var accesstoken; //获取accessToken
            var qqsex;
            var qqnickname;
            var qqpic;
            //获取当前登录用户的Access Token以及OpenID
            if (QC.Login.check()) {//如果已登录
                QC.Login.getMe(function (openId, accessToken) {
                    //从页面收集OpenAPI必要的参数。get_user_info不需要输入参数，因此paras中没有参数
                    var paras = {};
                    //用JS SDK调用OpenAPI
                    QC.api("get_user_info", paras).success(function (s) {//指定接口访问成功的接收函数，s为成功返回Response对象
                        //成功回调，通过s.data获取OpenAPI的返回数据
                        //alert("获取用户信息成功！当前用户昵称为：" + s.data.nickname + "当前用户头像地址：" + s.data.figureurl + "性别：" + s.data.gender + "");
                    }).error(function (f) {//指定接口访问失败的接收函数，f为失败返回Response对象
                        //失败回调
                        TopNotify("获取用户信息失败", "error");
                    }).complete(function (c) {//指定接口完成请求后的接收函数，c为完成请求返回Response对象
                        //完成请求回调
                        qqnickname = c.data.nickname;
                        qqsex = c.data.gender;
                        openid = openId;
                        accesstoken = accessToken;
                        qqpic = c.data.figureurl;
                        $.ajax({
                            type: "POST",
                            url: "/blog/ajaxqqlogin",
                            data: { "u": openid, "p": accesstoken, "name": qqnickname, "sex": qqsex, "pic": escape(qqpic) },
                            error: function (data) { alert("" + data + "") },
                            success: function (data) {
                                if (data == "true") {
                                    QC.Login.signOut();
                                    CookieHelper.addCookie("qqloginstatus", 1);
                                    location.reload();
                                } else {
                                    TopNotify("QQ快捷登录失败！请刷新重试！错误:" + data, "error");
                                    return;
                                }


                            },
                            async: true,
                            dataType: "text"
                        });


                    });

                });

            }
        }
        function InitQQLogin() {
            //调用QC.Login方法，指定btnId参数将按钮绑定在容器节点中

            QC.Login({
                //btnId：插入按钮的节点id，必选

                btnId: "ibtnQQLogin",
                //用户需要确认的scope授权项，可选，默认all
                scope: "all",
                //按钮尺寸，可用值[A_XL| A_L| A_M| A_S|  B_M| B_S| C_S]，可选，默认B_S
                size: "B_M"
            }, function (reqData, opts) {//登录成功
                QQLoginTrue();
            }, function (opts) {//注销成功
                CookieHelper.addCookie("qqloginstatus", 0);
                location.reload();
            }
        );
        }
        if (CookieHelper.getCookie("qqloginstatus") != "1")
            InitQQLogin();


    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var options = { serviceUrl: '@PublicHelper.GetHostAddress()/blog/ajaxsearch' };
            searchobj = $('#txtSearch').autocomplete(options);

            $("#btnSearch").click(function () {
                location.href = "@PublicHelper.GetHostAddress()/blog/search?q=" + escape($('#txtSearch').val());
            });

            //回到顶部 Start
            //首先将#back-to-top隐藏
            $("#back-to-top").hide();
            //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
            $(function () {
                $(window).scroll(function () {
                    if ($(window).scrollTop() > 100) {
                        $("#back-to-top").fadeIn(500);
                    }
                    else {
                        $("#back-to-top").fadeOut(500);
                    }
                });
                //当点击跳转链接后，回到页面顶部位置
                $("#back-to-top").click(function () {
                    $('body,html').animate({ scrollTop: 0 }, 100);
                    return false;
                });
            });

            //回到顶部 End
        });
        @Html.Raw(ViewBag.scriptJoin)
    </script>

</body>
</html>
