@model IEnumerable<ET.Sys_DEF.DesignGoodInfo>
@*@ 作用：右侧"创意设计"栏目
            作者：West
            时间2015-05-02
    @*@
<div class="widget d_postlist">
    <div class="title"><h2>创意设计</h2></div>
    <ul>
        @foreach (ET.Sys_DEF.DesignGoodInfo item in Model)
        {
            <li><a href="@item.GoodUrl" title="@item.GoodName"><span class="thumbnail"><img src="@item.GoodPicture.Split(',')[0]" alt="@item.GoodName" onerror="this.src = '/images/public/nopicture.jpg'" /></span><span class="text">@item.GoodName</span><span class="muted">@item.CreateTime.Value.ToString("yyyy-MM-dd")</span><span class="muted">&nbsp;&nbsp;@item.LoveCount 喜欢</span></a></li>

        }
    </ul>
</div>