@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
@section Title{
    易特网IT资讯平台登录
}
@section Header{
    <link href="/Content/Blog/login.css" rel="stylesheet" />
    <script src="/Scripts/common/jquery.webtopbar.js"></script>
}


<div class="content-wrap">
    <div class="content-container">
        <div data-scroll-reveal="" class="row card-panel" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
            <span class="rule-wrap"><a id="tieba" name="tieba" class="rule"></a></span><div class="col span_4_4">
                <div class="ibx-even">
                    <div class="ibx-inner" id="ibx-mod-tieba">
                        <div class="ibx-inner-title">
                            <a target="_blank" href="javascript:;" class="ibx-inner-title-ctx">留言中心</a>
                            <ul class="ibx-inner-title-tab">
                                <li class="ibx-inner-title-tabitem ibx-my-tieba OP_LOG_TITLE current">所有留言</li>
                                @*<li class="ibx-inner-title-tabitem ibx-my-frs OP_LOG_TITLE">图片收藏</li>
                                    <li class="ibx-inner-title-tabitem ibx-tieba-top OP_LOG_TITLE">我喜欢的</li>*@
                            </ul>
                        </div><div class="ibx-inner-content" id="ibx-tieba">
                            <div class="col my-tieba">
                                <div class="ibx-tieba-left">
                                    <div class="ibx-tieba-center">
                                        <ul class="my-tieba-clist tieba-pager-ul">
                                            @foreach (ET.Sys_DEF.BlogMessageInfo item in ViewBag.listMessage)
                                            {
                                                <li class="my-tieba-citem">
                                                    <div class="my-tieba-citem-box unfolddetail">
                                                        <div class=""><h2 title="@item.MsgTitle">@item.MsgTitle</h2><b>@item.Creator</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.CreateTime.Value.ToString("MM-dd HH:mm")</div>
                                                    </div>
                                                    <div class="hidden" style="margin-right: 15px; background-color: #f2f5f9; height: 50px; padding: 4px; border: 1px solid #e8ecf1;">
                                                        @item.MsgContent
                                                    </div>
                                                </li>
                                            }
                                        </ul>

                                    </div>@Html.Raw(ViewBag.listPager)
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="archive-header"><h1><i class="fa fa-list"></i> &nbsp;我要留言 </h1> </header>

        <form name="form2" id="iAddmsgForm">
            <center>
                <table>
                    <tr><th>昵称：</th><td><input type="text" id="iCreator" name="Creator" class="inputstyle" maxlength="50" /></td></tr>
                    <tr><th>电话：</th><td style="width:200px;"><input type="text" id="iCreatorTel" name="CreatorTel" class="inputstyle" maxlength="50" /></td><th>邮箱：</th><td><input type="text" id="iCreatorEmail" name="CreatorEmail" class="inputstyle" maxlength="200" /></td></tr>
                    <tr><th>留言类型：</th><td><select name="MsgType"><option value="系统改进">系统改进</option><option value="合作需求">合作需求</option><option value="其他">其他</option></select></td></tr>
                    <tr><th>标题：</th><td colspan="3"><input type="text" name="MsgTitle" class="inputstyle" style="width:500px;" maxlength="50" /></td></tr>
                    <tr><th>内容：</th><td colspan="3"><textarea name="MsgContent" class="inputstyle" style="width:500px;"></textarea></td></tr>
                    <tr>
                        <th>验证码：</th>
                        <td colspan="3">
                            <input type="text" id="ivalidatecode" name="validatecode" maxlength="4" class="inputstyle3" />
                            <img id="GL_StandardCode" style="cursor: pointer;" src="/account/validatecode?t=@DateTime.Now.Ticks" title="看不清，点击换一张" />
                        </td>
                    </tr>
                    <tr><td></td><td colspan="3"><input id="btnSend" type="button" value="发　送" style="width:150px;" class="button_blue" /></td></tr>
                </table>
            </center>
        </form>

    </div>
</div>
<script type="text/javascript">

    $(function () {
        $("#GL_StandardCode").click(function () {
            var newSrc = "/account/validatecode?t=" + (new Date()).getTime();
            this.src = newSrc;
            return false;
        });

        $(".unfolddetail").click(function () {
            if ($(this).next().css('display') == "none")
                $(this).next().css('display', 'block');
            else
                $(this).next().css('display', 'none');
        });

        $('#btnSend').click(function () {

            if ($('#iCreator').val() == "") {
                $('#iCreator').focus().css({
                    border: "1px solid red",
                    boxShadow: "0 0 2px red"
                });
                TopNotify("昵称不能为空", "info");
                return false;
            }



            if ($('#iCreator').val().length < 2 || $('#iCreator').val().length > 12) {

                $('#iCreator').focus().css({
                    border: "1px solid red",
                    boxShadow: "0 0 2px red"
                });
                TopNotify("用户名位2-12字符", "info");
                return false;

            }
            if ($.trim($('#iCreatorTel').val()) == "" && $.trim($('#iCreatorEmail').val() == "")) {
                $('#iCreatorTel').focus().css({
                    border: "1px solid red",
                    boxShadow: "0 0 2px red"
                });
                TopNotify("电话和邮箱不能同时为空", "info");
                return false;
            }

            if ($('#ivalidatecode').val() == "") {
                $('#ivalidatecode').focus().css({
                    border: "1px solid red",
                    boxShadow: "0 0 2px red"
                });
                TopNotify("验证码不能为空", "info");
                return false;
            }
            var semail = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (!semail.test($('#iCreatorEmail').val())) {
                $('#iCreatorEmail').focus().css({
                    border: "1px solid red",
                    boxShadow: "0 0 2px red"
                });
                TopNotify("联系邮箱格式不正确", "info");
                return false;
            } else {
                $('#iCreatorEmail').css({
                    border: "1px solid #D7D7D7",
                    boxShadow: "none"
                });

            }

            $('#iCreator').css({
                border: "1px solid #D7D7D7",
                boxShadow: "none"
            });
            $.ajax({
                type: "get",
                url: "/account/ajaxcheckvalidatecode",
                data: "code=" + $("#ivalidatecode").val() + '&t=' + new Date(),
                dataType: 'html',
                async: false,
                success: function (result) {
                    if (result != "true") {
                        $('#ivalidatecode').focus().css({
                            border: "1px solid red",
                            boxShadow: "0 0 2px red"
                        });
                        TopNotify(result, "info");
                        return false;
                    } else {
                        $('#ivalidatecode').css({
                            border: "1px solid #D7D7D7",
                            boxShadow: "none"
                        });

                        $.ajax({
                            cache: true,
                            type: "POST",
                            url: '/message/ajaxaddmessage',
                            data: $('#iAddmsgForm').serialize().replaceAll("'", "''"),
                            async: false,
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                TopNotify(errorThrown, 'error');
                            },
                            success: function (data) {
                                if (data == "true") {
                                    $("#iAddmsgForm").form("reset");
                                    TopNotify("信息已提交！请等待管理员审核..！", 'info');

                                }
                                else
                                    TopNotify(data, 'error');
                            }
                        });
                    }

                }
            });

        });

    })
</script>
