@{
    Layout = null;
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
@section Title{
    热点
}
@section Header{
    <style>
    </style>
}
<div class="content-wrap">
    <div class="main-left" id="#container">
        <div class="content">
            @*<header class="archive-header"><h1><i class="fa fa-list"></i> &nbsp;分类：热点 </h1> </header>*@



            <div class="popularity_posts">
                <div class="popularity_title"><h2>访问排行</h2></div>
                <ul class="popularity_img">
                    @foreach (ET.Sys_DEF.BlogArticleInfo itemArticle in ViewBag.listOtherArticle)
                    {
                        <li class="popularity_box">
                            <a href="@itemArticle.ArticleUrl" title="@itemArticle.ArticleTitle" target="_blank">
                                <img src="@itemArticle.ArticleCover.Split(',')[0]" alt="@itemArticle.ArticleTitle" width="186" height="112" /> <br>
                                <span class="r_title">@itemArticle.ArticleTitle</span>
                            </a>
                        </li>
                    }
                </ul>

            </div>


            @foreach (ET.Sys_DEF.BlogArticleInfo item in ViewBag.listArticle)
            {
                Html.RenderPartial("_PartialArticleList", item);
            }
        </div>
        @{Html.RenderPartial("_PartialLoadMore");}
    </div>

    <div class="main-right">

        @{Html.RenderAction("_PartialArticleComment", "Shared");}
        @{Html.RenderAction("_PartialArticleLabel", "Shared");}
        @{Html.RenderAction("_PartialArticleLove", "Shared");}
        @{Html.RenderPartial("_PartialWxCode");}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        jQuery("span.timeago").timeago();
        $("#Loadding").click(LoadData);
    });

    //异步加载数据 Start
    var totalGroups = 2;
    var trackLoad = {};
    trackLoad.groupNumber = 2;
    trackLoad.url = "@PublicHelper.GetHostAddress()/blog/ajaxgetarticlelist?scope=hotcollect";
    trackLoad.loading = false;
    function LoadData() {
        var Oldscroll = $(window).scrollTop();
        if (trackLoad.groupNumber <= totalGroups && !trackLoad.loading) {
            trackLoad.loading = true;
            $('#Loadding').show().css("display", "block");
            $.ajax({
                url: trackLoad.url,
                type: "get",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { "groupNumber": trackLoad.groupNumber },
                success: function (data, textStatus, xhr) {
                    if (data.total && !isNaN(data.total))
                        totalGroups = Math.ceil(parseInt(data.total) / 10);
                    if (data.rows && data.rows.length > 0) {
                        $.each(data.rows, function () {
                            var vlabel = this.ArticleLabel;
                            $(".content").append('<article class="excerpt"><header><a class="label label-important" href="@PublicHelper.GetHostAddress()/blog/articletag/' + vlabel + '/">' + vlabel + '<i class="label-arrow"></i></a>                        <h2><a target="_blank" href="' + this.ArticleUrl + '" title="' + this.ArticleTitle + '">' + this.ArticleTitle + '</a></h2>                    </header>                    <div class="focus">                        <a target="_blank" href="' + this.ArticleUrl + '"><img class="thumb" src="' + this.ArticleCover + '" alt="' + this.ArticleTitle + '" width="200" height="125"></a>                    </div> <span class="note">                       ' + this.ArticleDescription + '                            </span><p class="auth-span">                                <span class="muted">                                    <i class="fa fa-clock-o"></i>                                    <span class="time timeago" title="' + this.CreateTime + '">                                    </span>                                </span> <span class="muted"><i class="fa fa-eye"></i> ' + this.AccessCount + '℃</span> <span class="muted"><i class="fa fa-comments-o"></i> <a target="_blank" href="' + this.ArticleUrl + '#comments">' + (this.ArticleSource ? this.ArticleSource : 0).toString() + '评论</a></span><span class="muted"> <a href="javascript:;" data-action="ding" data-id="' + this.ArticleID + '" id="Addlike" class="action"><i class="fa fa-heart-o"></i><span class="count">' + this.LoveCount + '</span>喜欢</a></span>                            </p>                        </article>');
                        });
                    }
                    $('#Loadding').hide();
                    trackLoad.groupNumber++;
                    trackLoad.loading = false;
                    $(window).scrollTop() = Oldscroll;
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    trackLoad.loading = false;
                    console.log(errorThrown.toString());
                }
            });
        }

    }
    //异步加载数据 End
</script>
