@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
@section Title{
    易特网IT资讯平台
}
@section Header{

}
<div class="content-wrap">
    <div class="main-left" id="#container">
        <div class="content">
            <header class="archive-header"><h1><i class="fa fa-list"></i> &nbsp;搜索：@Request.QueryString["q"] </h1> </header>
            @foreach (ET.Sys_DEF.BlogArticleInfo itemArticle in ViewBag.listArticle)
            {
                <article class="excerpt">
                    <header>
                        <a class="label label-important" href="@PublicHelper.GetHostAddress()/blog/articletag/@itemArticle.ArticleLabel.Split(',')[0]/">@itemArticle.ArticleLabel.Split(',')[0]<i class="label-arrow"></i></a>
                        <h2><a target="_blank" href="@itemArticle.ArticleUrl" title="@itemArticle.ArticleTitle">@itemArticle.ArticleTitle</a></h2>
                    </header>
                    <span class="note">
                        @ET.ToolKit.Common.StringHelper.BindDataFromString(itemArticle.ArticleDescription, 120);
                    </span>
                </article>
            }
        </div>
        @Html.Raw(ViewBag.listPager)
    </div>

    <div class="main-right">

        @{Html.RenderAction("_PartialArticleLove", "Shared");}

    </div>
</div>
